@font-face{

font-family: 'hinted-PathwayGothicOne-Regular';
src: url('../fonts/hinted-PathwayGothicOne-Regular.eot');
src: url('../fonts/hinted-PathwayGothicOne-Regular.eot?iefix') format('eot'),
url('../fonts/hinted-PathwayGothicOne-Regular.woff') format('woff'),
url('../fonts/hinted-PathwayGothicOne-Regular.ttf') format('truetype'),
url('../fonts/hinted-PathwayGothicOne-Regular.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}
div.wrapper {
box-sizing: border-box;
width: 1025px;
height: 1297px;
margin: auto;
/*padding: 37px;*/
padding-left: 86px;
/*padding-right: 36px*/
/*padding-top: 117px;*/
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
div.column{
box-sizing: border-box;
display: inline-block;
width: 641px;
height: 1297px;
/*padding-left: 86px;*/
padding-top: 117px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
div.column2{
box-sizing: border-box;
display: inline-block;
position: absolute;
padding-left: 51px;
/*margin-left: 51px;*/
padding-top: 117px;
width: 258px;
height: 1297px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.top-left {
display: inline-block;
/*margin-top: 116px;*/
width: 641px;
height: 482px;
  /*margin-bottom: 54px;*/
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.top-right {
display: inline-block;
position: inherit;
/*margin-top: 117px;*/
/*margin-left: 51px;*/
width: 206px;
height: 482px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
img {
display: inline-block;
float: left;
margin-right: 25px;
margin-bottom: 23px;
width: 362px;
height: 281px;
}
.img-txt {
font-family: Arial regular, Pathway Gothic One;
font-size:14px;
margin-bottom: 0px;
font-weight: bold;
color: #263555;
line-height: 19px;
}
.cliar:after {
content: "";
display:table;
clear:both;
}
.inside {
padding: 23px;
background-color: #fcfafa;
font-family: Arial regular, Pathway Gothic One;
font-size:14px;
/*margin-bottom: 0px;*/
font-weight: bold;
color: #263555;
line-height: 19px;
}
p.paragraph {
font-family: Arial regular, Pathway Gothic One;
font-size: 12px;
line-height: 17px;
}
hr {
/*position: inherit;*/
border: none;
background-color: #dedbdb;
height: 1px;
margin-top: 112px;
margin-bottom: 52px;
}
.hr {
/*position: inherit;*/
border: none;
background-color: #dedbdb;
margin-left: -51px;
height: 1px;
width: 258px;
margin-top: 112px;
margin-bottom: 52px;
}
.botom-left {
width: 641px;
height: 295px;
margin-top: 59px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.left {
list-style-type: none;
display: inline-block;
width: 49%;
line-height: 35px;
padding: 0px;
/*padding-left: 30px;  */
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.botom-right {
display: inline-block;
position: absolute;
width: 206px;
height: 295px;
margin-top: 631px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.right {
list-style-type: none;
display: inline-block;
position: absolute;
line-height: 35px;
padding-left: 0px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}
.before:before {
content: "";
background: url(../img/pointer.png) no-repeat;
background-size: contain;
background-position: center;
width: 10px;
height: 7px;
display: inline-block;
margin-left: -14px;
position: absolute;
}

li.circle {
height: 0;
list-style-type: none;
}
li.circle2 {
height: 0;
list-style-type: none;
}
li.circle3 {
height: 0;
list-style-type: none;
}
li.circle:before {
content: "1";
display: inline-block;
vertical-align: middle;
margin-left: -37px;
margin-top: -20px;
width: 27px;
height: 23px;
border-radius: 50%;
text-align:center;
padding-top: 5px;
background: #38afe5;
color: #fff;
}
li.circle2:before {
content: "2";
display: inline-block;
vertical-align: middle;
margin-left: -37px;
margin-top: -20px;
width: 27px;
height: 23px;
border-radius: 50%;
text-align:center;
padding-top: 5px;
background: #38afe5;
color: #fff;
}
li.circle3:before {
content: "3";
display: inline-block;
vertical-align: middle;
margin-left: -37px;
margin-top: -20px;
width: 27px;
height: 23px;
border-radius: 50%;
text-align:center;
padding-top: 5px;
background: #38afe5;
color: #fff;
}
.table {
font-family: Pathway Gothic One Regular, sans-serif;
font-stretch: condensed;
font-weight: lighter;
color: #263555;
}
.table1 {
margin-top: 0px;
font-family: Pathway Gothic One Regular, sans-serif;
font-stretch: condensed;
font-weight: lighter;
color: #263555;
}
.txt {
font-family: Arial regular, Pathway Gothic One;
font-size:14px;
margin-bottom: 0px;
font-weight: bold;
color: #263555;
line-height: 19px;
}
.txt1 {
font-family: Arial regular, Pathway Gothic One;
font-size:14px;
margin-bottom: 29px;
font-weight: bold;
color: #263555;
line-height: 19px;
}
.txt2 {
font-family: Arial regular, Pathway Gothic One;
width: 641px;
height: 173px;
font-size:14px;
margin-top: 34px;
margin-bottom: 0px;
font-weight: bold;
color: #263555;
line-height: 19px;
border: 2px  #afaeae;
box-shadow: 0px 0px 4px 4px #DCDCDC;
}