ul.rrr {
  list-style-type: none;
}
li.eee {
  display: inline-block;
color: #0000d0;
padding: 2px;
}
li.eee:hover {
  background: #786b59;
    color: #ffe;
}
/*______________________________HOVER_____________________________________________________________*/
ul.qqq {
  list-style-type: none;
}
li.www {
   color: #0E1116;
}
li.www:nth-of-type(n+ 2) {
background:  linear-gradient(to right, rgba(100%, 0%, 0%, 0), rgba(100%, 0%, 0%, 1));
}
li.www:nth-of-type(3n-1) {
  background: #88292F;
}
li.www:nth-of-type(3n-3) {
  background: #5DB7DE;
} 
/*________________________________nth-of-type____________________________________________________*/

ul.yyy {
  list-style-type: none;
}
li.ttt:before {
 content: "→";
}
/*________________________________before__________________________________________________________*/

