.wrapper {
    position: relative;
    margin: auto;
    width: 1300px;
    background: url("/fe-core-hw_TEST/module-5/images/57.png");
}

.alpha {
    position: relative;
    margin: auto;
    width: 1024px;
    height: auto;
    background: #fff;
}

.header {
    margin: auto;
    width: 1024px;
}

.menu-left {
    display: inline-block;
    width: 1024px;
    padding-bottom: 109px;
    text-align: center;
    color: #fff;
}

.left-m {
    margin-top: 101px;
    margin-right: 79px;
    float: right;
    font-family: 'Pathway Gothic One';
    font-size: 21px;
}

.right-m {
    margin-top: 101px;
    margin-left: 79px;
    float: left;
    font-family: 'Pathway Gothic One';
    font-size: 21px;
}

.logo {
    font-family: 'Dorsa';
    font-size: 60px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    margin-left: 442px;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    color: #263555;
}

.txt-logo {
    padding-top: 40px;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
    display: block;
    content: "";
    clear: both;
    float: none;
}

.menu {
    position: relative;
}

ul.menu li h2 a {
    display: block;
    color: white;
    text-decoration: none;
}

ul.submenu {
    font-family: 'Pathway Gothic One';
    font-size: 16px;
    line-height: 25px;
    display: none;
    position: absolute;
    top: 130px;
    left: 190px;
    background-color: white;
    border: 1px;
    border-radius: 10%;
}

ul.submenu li a {
    display: block;
    color: #6b7488;
    text-decoration: none;
}
.submenu1 {
  padding-left: 5px;
  padding-right: 5px;
}

.color1:before {
    display: none;
    content: '';
    position: absolute;
    top: 110px;
    left: 204px;
    border: 10px solid transparent;
    border-bottom-color: #fcfafa;
}

ul.menu li:hover ul.submenu {
    display: block;
}

ul.menu li:hover a.color {
    color: #263555;
}

ul.menu li:hover a.color1 {
    color: #263555;
}
ul.menu li:hover a.color1:before {
   display: block;
}

.block {
    position: relative;
    margin-bottom: 27px;
}

.boat {
    width: 901px;
    height: 579px;
    margin-top: 58px;
    margin-left: 61px;
    margin-left: 61px;
}

.block-inside {
    font-family: 'Pathway Gothic One';
    font-size: 17px;
    position: absolute;
    padding-top: 20px;
    top: 276px;
    left: 50px;
    width: 225px;
    height: 61px;
    text-align: center;
    background: #fff;
}

.block-inside2 {
    font-family: 'Pathway Gothic One';
    font-size: 25px;
    position: absolute;
    padding-top: 20px;
    top: 337px;
    left: 61px;
    width: 276px;
    height: 50px;
    text-align: center;
    background: #38afe5;
    color: #fff;
}

.left1 {
    display: inline-block;
    position: absolute;
    right: 901px;
    top: 500px;
    width: 47px;
    height: 94px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background-color: #38afe5;
}

.pointer1 {
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 8px;
    top: 40px;
}
.left1:hover {
    background: #00d3ff;
}
.right1:hover {
    background: #00d3ff;
}

.right1 {
    display: inline-block;
    position: absolute;
    right: 854px;
    top: 500px;
    width: 47px;
    height: 94px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background-color: #38afe5;
}

.pointer2 {
    display: inline-block;
    position: absolute;
    color: black;
    width: 13px;
    height: 13px;
    left: 25px;
    top: 40px;
}

.left {
    position: relative;
    display: inline-block;
    width: 287px;
    height: 270px;
    margin-top: 48px;
    margin-right: 15px;
}

.destinations {
    position: relative;
    width: 901px;
    height: 341px;
    margin-top: 56px;
    margin-left: 61px;
    margin-left: 61px;
    padding-bottom: 136px;
}

.first-bottom-wrapper {
    font-family: 'Pathway Gothic One';
    font-size: 23px;
}

.venice {
    width: 287px;
    height: 270px;
}

.venice-block {
    position: absolute;
    display: inline-block;
    display: none;
    width: 130px;
    height: 248px;
    padding-top: 22px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    background: #193149;
}

.left:hover .venice-block {
    display: block;
}

.txt {
    font-family: 'Open Sans Condensed';
    font-size: 23px;
    text-align: center;
    padding-bottom: 24px;
}


.button {
    font-family: 'Areal';
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 70px;
    width: 47px;
    height: 94px;
    background-color: #faf6fa;
    color: #000;
    border-radius: 4px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.block-v {
    font-family: 'Areal';
    font-size: 11px;
    line-height: 15px;
    width: 128px;
    height: 130px;
    padding-bottom: 30px;
}

.middle {
    display: inline-block;
    width: 287px;
    height: 270px;
    margin-right: 15px;
}

.right {
    display: inline-block;
    width: 287px;
    height: 270px;
}

.to-top {
    position: fixed;
    right: 185px;
    bottom: 250px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #38afe5;
    color: #fff;
}

.pointer3 {
    margin: 10px;
}