        body {
            margin: 0;
            height: 100%;
            background: url("../images/57-min.png");
            background-size: cover;
        }


        .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: auto;
            max-width: 1024px;
        }

        header {
            margin: 0 auto;
            width: 100%;
        }

        .menu-main {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            width: 100%;
            color: #fff;
        }

        .left-m {
            height: 210px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: 'Pathway Gothic One';
            font-size: 21px;
        }

        .right-m {
            height: 210px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: 'Pathway Gothic One';
            font-size: 21px;
        }

        .logo {
            font-family: 'Dorsa';
            font-size: 60px;
            position: absolute;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 40px 0 0 442px;
            width: 138px;
            height: 138px;
            border-radius: 50%;
            background: #fff;
            color: #263555;
        }

        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul:after {
            display: block;
            content: "";
            clear: both;
            float: none;
        }

        .menu {
            width: 395px;
            padding-left: 55px;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        .menu-r {
            width: 395px;
            padding-left: 55px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        ul.menu li h2 a {
            display: block;
            color: #fff;
            text-decoration: none;
        }

        ul.menu-r li h2 a {
            display: block;
            color: #fff;
            text-decoration: none;
        }

        ul.submenu {
            font-family: 'Pathway Gothic One';
            font-size: 16px;
            line-height: 25px;
            display: none;
            position: absolute;
            top: 130px;
            left: 190px;
            background-color: #fff;
            border: 1px;
            border-radius: 10%;
        }

        ul.submenu li a {
            display: block;
            color: #6b7488;
            text-decoration: none;
        }

        .submenu1 {
            padding-left: 5px;
            padding-right: 5px;
        }

        .color1:before {
            display: none;
            content: '';
            position: absolute;
            top: 110px;
            left: 204px;
            border: 10px solid transparent;
            border-bottom-color: #fcfafa;
        }

        ul.menu li:hover ul.submenu {
            display: block;
        }

        ul.menu li:hover a.color {
            color: #263555;
        }

        ul.menu-r li:hover a.color {
            color: #263555;
        }

        ul.menu li:hover a.color1 {
            color: #263555;
        }

        ul.menu li:hover a.color1:before {
            display: block;
        }
        /*________________________________________________________________________________*/

        .content {
            position: relative;
            margin: auto;
            padding-bottom: 138px;
            width: 100%;
            height: auto;
            background: #fff;
        }

        .title-gallery {
            font-family: 'Pathway Gothic One';
            font-size: 32px;
            margin-left: 60px;
            padding-top: 96px;
            margin-bottom: 48px;
            color: #263555;
        }


        .gallery .img-box {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: relative;
            width: 288px;
            height: 155px;
            margin: 20px 0;
            overflow: hidden;
        }
/*_________________________Сложности_______________________*/
        .zoom:hover {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            z-index: 4;
        }
        /*.img-box:hover:before {
            content: '';
            background-color: #000;
            height: 100%;
            width: 100%;
            opacity: 1.7;
            position: absolute;
            top: 0;
            left: 0;
        }*/

        .img-box:hover:after {
            content: url("../images/icon.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: none;
        }
/*_________________________Сложности_______________________*/

        .to-top {
            position: fixed;
            left: calc(50% + 476px);
            bottom: 250px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #38afe5;
            color: #fff;
            z-index: 2;
        }

        .pointer3 {
            width: 11px;
            height: 6px;
            margin: 10px;
        }

        .gallery {
            margin: auto;
            width: 88.0859375%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        img {
            display: inline-block;
            margin-bottom: 40px;
            cursor: none;
            position: relative;
            width: 100%;
            height: auto;
        }
        /*________________________________________________________________________________*/

        .bottom-gallery {
            margin: auto;
            width: 100%;
            background: #30455b;
            color: #fff;
            padding-top: 43px;
            padding-bottom: 32px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        .bottom-txt {
            font-family: 'Open Sans Condensed';
            line-height: 27px;
        }

        .bottom-txt1 {
            font-family: 'Open Sans Condensed';
            padding-left: 79px;
            line-height: 27px;
        }


        .bottom-txt2 {
            font-family: 'Open Sans Condensed';
            line-height: 27px;
            margin-right: 100px;
        }

        .email {
            font-family: 'Arial';
        }

        .footer {
            width: 100%;
            margin: auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .socials {

            display: -webkit-box;

            display: -webkit-flex;

            display: -ms-flexbox;

            display: flex;
        }


        li.socials_item {
            margin: 26px 6px 6px 24px;
            height: 40px;
            -webkit-flex-basis: 40px;
            -ms-flex-preferred-size: 40px;
            flex-basis: 40px;
        }

        .socials_item a {
            display: inline-block;
            height: 40px;
            width: 40px;
        }

        .socials_item:nth-of-type(1)>a {
            background-image: url("../images/lckph-m2ddp.svg");
            background-repeat: no-repeat;
            background-position: -2px 0px;
            -webkit-filter: opacity(.7);
            filter: opacity(.7);
        }

        .socials_item:nth-of-type(2)>a {
            background-image: url("../images/lckph-m2ddp.svg");
            background-repeat: no-repeat;
            background-position: -52px 0px;
            -webkit-filter: opacity(.7);
            filter: opacity(.7);
        }

        .socials_item:nth-of-type(3)>a {
            background-image: url("../images/lckph-m2ddp.svg");
            background-repeat: no-repeat;
            background-position: -106px 0px;
            -webkit-filter: opacity(.7);
            filter: opacity(.7);
        }

        .socials_item:nth-of-type(4)>a {
            background-image: url("../images/lckph-m2ddp.svg");
            background-repeat: no-repeat;
            background-position: -158px 0px;
            -webkit-filter: opacity(.7);
            filter: opacity(.7);
        }

        .socials_item>a:hover {
            -webkit-filter: opacity(1);
            filter: opacity(1);
        }

        .copywriting {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            padding-bottom: 28px;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {


            header {
                margin: 0 auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                width: 75%;
            }

            .menu-main {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                width: 75%;
                color: #fff;
            }

            .left-m {
                height: 32px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 30px 20px 30px;
                font-family: 'Pathway Gothic One';
                font-size: 24px;
            }

            .right-m {
                height: 32px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 30px 20px 30px;
                font-family: 'Pathway Gothic One';
                font-size: 24px;
            }

            .logo {
                font-family: 'Dorsa';
                font-size: 43px;
                position: inherit;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin: 20px 0 24px;
                width: 101px;
                height: 101px;
                border-radius: 50%;
                background: #fff;
                color: #263555;
            }


            .menu {
                width: 255px;
                padding: 0;
                position: relative;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .menu-r {
                width: 255px;
                padding-left: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }


            ul.submenu {
                font-family: 'Pathway Gothic One';
                font-size: 17px;
                line-height: 21px;
                padding: 12px 9px 12px 9px;
                display: none;
                position: absolute;
                top: 35px;
                left: 85px;
                background-color: #f2f2f3;
                border: 1px;
                border-radius: 10%;
                z-index: 2;
            }

            .color1:before {
                display: none;
                content: '';
                position: absolute;
                top: 20px;
                left: 110px;
                border: 10px solid transparent;
                border-bottom-color: #fcfafa;
            }

            .content {
                position: relative;
                margin: auto;
                width: 768px;
                height: auto;
                background: #fff;
            }

            .title-gallery {
                font-family: 'Pathway Gothic One';
                font-size: 32px;
                margin: 0 0 48px 46px;
                padding-top: 86px;
                color: #263555;
            }


            .gallery .img-box {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                width: 332px;
                height: 178px;
                margin: 20px 0;
                overflow: hidden;
                cursor: pointer;
            }

            .to-top {
                position: fixed;
                left: calc(50% + 355px);
                bottom: 250px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #38afe5;
                color: #fff;
            }

            img {
                display: inline-block;
                margin-bottom: 40px;
                max-width: 332px;
                max-height: 178px;
            }

            .bottom-gallery {
                margin: auto;
                width: 768px;
                background: #30455b;
                color: #fff;
                padding: 43px 0 32px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {


            header {
                margin: 0 auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                width: 46.875%;
            }

            .menu-main {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                width: 46.875%;
                color: #fff;
            }

            .left-m {
                height: 25px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 30px 60px 30px;
                font-family: 'Pathway Gothic One';
                font-size: 20px;
            }

            .right-m {
                height: 25px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0 30px 20px 30px;
                font-family: 'Pathway Gothic One';
                font-size: 20px;
            }

            .logo {
                font-family: 'Dorsa';
                font-size: 33px;
                position: inherit;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin: 23px 0 28px;
                width: 77px;
                height: 77px;
                border-radius: 50%;
                background: #fff;
                color: #263555;
            }


            .menu {
                width: 222px;
                padding: 0;
                position: relative;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .menu-r {
                width: 222px;
                padding-left: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }


            ul.submenu {
                font-family: 'Pathway Gothic One';
                font-size: 14px;
                line-height: 21px;
                padding: 12px 9px 12px 9px;
                display: none;
                position: absolute;
                top: 35px;
                left: 75px;
                background-color: #f2f2f3;
                border: 1px;
                border-radius: 10%;
                z-index: 2;
            }

            .color1:before {
                display: none;
                content: '';
                position: absolute;
                top: 20px;
                left: 95px;
                border: 10px solid transparent;
                border-bottom-color: #fcfafa;
            }


            .content {
                position: relative;
                margin: auto;
                width: 480px;
                height: auto;
                padding-bottom: 75px;
                background: #fff;
            }

            .title-gallery {
                font-family: 'Pathway Gothic One';
                font-size: 28px;
                margin: 0 0 0px 46px;
                padding-top: 60px;
                color: #263555;
            }


            .gallery .img-box {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                width: 406px;
                height: 218px;
                margin: 40px 0 0 0;
                overflow: hidden;
                cursor: pointer;
            }
            .gallery {
                margin: auto;
                width: 88.0859375%;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .to-top {
                position: fixed;
                left: calc(50% + 210px);
                bottom: 250px;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: #38afe5;
                color: #fff;
            }
            img {
                display: inline-block;
                max-width: 406px;
                max-height: 218px;
            }
            .footer {
                width: 46.875%;
                margin: auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .bottom-gallery {
                width: 480px;
                background: #30455b;
                color: #fff;
                padding: 24px 0 0px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .bottom-txt {
                font-family: 'Open Sans Condensed';
                font-size: 14px;
                line-height: 27px;
                margin-left: 60px;
            }

            .bottom-txt1 {
                font-family: 'Open Sans Condensed';
                padding-left: 0px;
                font-size: 14px;
                line-height: 27px;
            }


            .bottom-txt2 {
                font-family: 'Open Sans Condensed';
                line-height: 27px;
                font-size: 14px;
                margin-right: 0px;
                margin-left: 40px;
                padding: 28px 40px 38px 30px;
                width: 480px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                justify-content: space-around;
            }
            .telephone {
                font-family: 'Arial';
                font-size: 10px;
                margin-left: 50px;
            }

            .email {
                font-family: 'Arial';
                font-size: 10px;
            }
            .copywriting {
                font-family: 'Arial';
                font-size: 10px;
                margin: 0 auto;
                width: 480px;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                color: #fff;
                padding-bottom: 22px;
            }
            .telephone:before {
                content: '';
                background: url("../images/phone-min.png") no-repeat;
                position: absolute;
                display: inline-block;
                width: 10px;
                height: 17px;
                margin: 5px 0 0 -20px;
            }
            .email:before {
                content: '';
                background: url("../images/email-min.png") no-repeat;
                position: absolute;
                display: inline-block;
                width: 18px;
                height: 14px;
                margin: 7px 0 0 -30px;
            }
        }