div.www {
	position: relative;
	margin:50px auto;
	width: 200px;
	height: 200px;
	background: #39afe5 ;
	
}

div.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	vertical-align: middle;
	width: 138px;
	height: 138px;
	border-radius: 50%;
	text-align:center;
	background: black;
  color: #263555;

}
.txt-logo {
/*position: absolute;*/
	padding-top: 60px;
}